* {
    margin:0;
    padding:0;
    outline:none;
    text-decoration:none;
}

body,
html {
    height:100%;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size:14px;
    line-height:1.3;
    color:#404449;
    /*overflow: hidden;*/
}

#wrap {display: table; height: 100%; width: 100%;}
#wrap > section {display: table-row; height: auto;}
#wrap > header, #wrap > footer {display: table-row; height: 1px;}

p{
    font-size: 1.000em;
    padding: 0 0 15px 0;
    line-height: 1.667;
    text-align: justify;
    font-family: Helvetica, sans-serif;
    color: #756F6F;
}
h1, h2, h3{
    margin-bottom: 30px;
    color: #494A4E;
}
h1{
    font-size: 35px;
    letter-spacing: 1px;
}
h3{
    font-size: 20px;
}
a{
    color: #1F17DB;
    font-size: 14px;
}
a:hover{
    color: #5A5857;
}
input[type="text"],input[type="password"]{
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    margin-right: 2px;
    box-sizing: border-box;
    margin-bottom: 8px;
}
ul{
    list-style: none;
}

/*-------admin panel header-------*/

.admin_menu {
    display: block;
    background-color: #494A4E;
    padding: 35px 0;
}
.admin_menu ul{
    list-style: none;
    width: 100%;
    display: table;
}
.admin_menu li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.admin_menu>ul>li:first-child{
     font-weight: bold;
}
.admin_menu li a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 1px 0 1px #3C3A3A;
    font-size: 18px;
}
.logout {
    float: right;
}
.logout a{
    color: #fff;
    margin: 0 8px;
}

/*-------end admin panel header-------*/


/*-------REWORKED--------*/

.admin_content_container {
    width: 90%;
    margin: 30px auto;
}
/*admin table*/
.admin_table {
    border-collapse: collapse;
    border: 1px solid #d9d9d9;
    min-width: 35%;
    margin-bottom: 30px;
}
.admin_table td{
    padding: 8px;
    border: 1px solid #D9D9D9;
    text-align: center;
}
.admin_table td a{
    width:100%;
    display: block;
}
.admin_table th{
    padding: 8px;
    border: 1px solid #D9D9D9;
}
/*breadcrumbs*/
.admin_breadcrumbs{
    margin-bottom: 30px;
}
.admin_breadcrumbs ul{
    list-style: none;
    display: block;
    padding: 0;
}
.admin_breadcrumbs li{
    display: inline-block;
    padding: 0;
}
.admin_breadcrumbs li:first-child{
    padding-left: 0;
}
.admin_breadcrumbs li a{
    padding: 0;
    text-align: left;
}
.table_new_price{
    width:10%;
}
.table_new_price input[type=text]{
    width: 65%;
}
/*error*/
.error, .success{
    width: 35%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.error{
    background: rgba(189, 78, 78, 0.61);
    border: 1px solid #9C2222;
    text-shadow: 0 0 1px #9C2222;
}
.success{
    background: rgba(25, 115, 25, 0.54);
    border: 1px solid rgb(53, 82, 7);
    text-shadow: 0 0 1px #355207;
}
a.error_go_back{
    color: rgba(73, 74, 78, 0.77);
    display: block;
    margin: 15px 0;
}
/*search*/
form.admin_search{
    display: table;
    width: 35%;
    height: 100%;
    min-height: 35px;
    margin-bottom: 30px;
}
input.admin_chat_text{
    display: table-cell;
    height: 100%;
    width: 75%;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    margin: 0;
    padding: 0 8px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 35px;
}
button.admin_search_button{
    display: table-cell;
    height: 95%;
    width: 25%;
    background: #494A4E;
    border: 0;
    border-radius: 2px;
    color: #ffffff;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
    vertical-align: middle;
    cursor: pointer;
    line-height: 35px;
}
.admin_search .custom_select{
    display: table-cell;
}
/*pagination*/
.pagination{
    width: 35%;
    border: 1px solid #D9D9D9;
    display: table;
    border-radius: 2px;
    text-align: center;
    position: relative;
}
.pagination li{
    display: inline-block;
    width: 5%;
    padding: 0;
    text-align: center;
}
li.first_page{
    width: 10%;
    position: absolute;
    left: 0;
}
li.last_page{
    width: 10%;
    position: absolute;
    right: 0;
}
li.next_page{
    width: 10%;
    position: absolute;
    right: 10%;
}
li.prev_page{
    width: 10%;
    position: absolute;
    left: 10%;
}
.pagination li a{
    padding: 7px 0;
    width: 100%;
    display: inline-block;
    color: #404449;
}
li.active a {
    color: #1F42E1;
}
.pagination li .next, .pagination li .prev{
    display: inline-table;
    width: 100%;
}
.pagination li .next a, .pagination li .prev a,
.first_page a, .last_page a{
    display: table-cell;
    padding: 7px 0;
    border-radius: 2px;
    font-size: 15px;
    font-weight: lighter;
}
/*dark button*/
.dark_button {
    padding: 9px;
    background: #494A4E;
    border: 0;
    border-radius: 2px;
    color: #ffffff;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
    cursor: pointer;
}
.set_width .dark_button{
    width:20%;
}
.delete-row.dark_button{
    margin-left: 14px;
}
.image.dark_button{
    width:100%;
}
.product.dark_button{
    width: 15%;
}
td button.dark_button {
    float: right;
    width: 25%;
}
/*buttons as links*/
.admin_link_button{
    background-color: transparent;
    border: none;
    color: #1F17DB;
    font-size: 14px;
}
.admin_link_button:hover{
    cursor: pointer;
    color: #5A5857;
}

/*delete all checkbox*/
input.bulk-checkbox {
    margin: 0 auto;
    display: block;
    vertical-align: middle;
}
/*table for create price range, category*/
.create_table{
    width: 30%;
}
.create_table td.label_small_table{
    width: 32%;
}
.create_table.small{
    width: 25%;
}
.create_table.small td.label_small_table{
    width: 20%;
}
.create_table input[type="text"]{
    width: 100%;
    margin-bottom: 8px;
}
.set_width{
    width: 40%;
    margin-bottom: 30px;
}
.set_width input[type="text"]{
    width: 40%;
    margin-bottom: 8px;
}
/*icons*/
i.fa.fa-wechat, i.fa.fa-history{
    float: right;
    font-size: 18px;
    color: #494A4E;
}
i.fa.fa-long-arrow-right {
    color: rgba(64, 68, 73, 0.8);
}
.fa-caret-down:before {
    content: "\f0d7";
    color: white;
    position: absolute;
    right: 10%;
    top: 0;
    line-height: 2.5;
}
/*manage product table*/
.manage_product_table{
    width: 75%;
}
.manage_product_table tr{
    margin-bottom: 10px;
}
input.text_field {
    width: 30%;
}
.special_field{
    margin: 15px 0;
    width: 15%;
}
div#cke_text {
    margin-bottom: 15px;
}
/*--------custom select--------*/
.custom_select{
    width: 25%;
    height: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    overflow: hidden;
    vertical-align: top;
    box-sizing: border-box;
}
.select{
    height: 100%;
    width: 100%;
    background-color: #494A4E;
    display: inline-block;
    position: relative;
    border-radius: 2px;
}
.select_text{
    height: 100%;
    padding: 0 5px;
    position: relative;
    z-index: 1;
    display: block;
}
.select_text p{
    color: #FFFFFF;
    font-size: 15px;
    height: 100%;
    vertical-align: middle;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 10%;
}
.select select{
    height: 100%;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    overflow: hidden;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
/*--------end select---------*/
.inbox_dropdown{
    display: table;
    width: 35%;
}
.inbox_dropdown .custom_select{
    display: table-cell;
}
.inbox_dropdown button{
    margin-left: 10px;
    width: 25%;
}