.ui-chatbox {
    position: fixed;
    bottom:0;
    padding: 2px;
    background:  #CCCCCC;
}

.ui-chatbox-titlebar {
    padding: 3px;
    height: 20px;
    cursor: pointer;

}

.ui-chatbox-content {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.ui-chatbox-log {
    padding: 3px;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFFFFF;
}

.ui-chatbox-input {
    padding: 3px;

    overflow: hidden;
}

.ui-chatbox-input-box {
    margin: 5px;

    padding: 2px;
    height: 50px;
}

.ui-chatbox-icon {
    float: right;
}

.ui-chatbox-input-focus {
    border-color: #2269AB;
}

.ui-chatbox-msg {
    margin-top: 10px;
    float: left;
    clear: both;
    /* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.ui-widget-header{
    border: none;
    font-family: Oswald, sans-serif;
    background: #EEEEEE;
    font-weight: normal
}

.ui-widget-content{
    font-family: Helvetica, sans-serif;
    border: 1px solid #D7D7D7;
    color: #747474;
}
.ui-chatbox {
    background: #E2E2E2;
}
.text {
    color: #747474;
    font-family: Oswald, sans-serif;
}
.user{
    font-family: Helvetica, sans-serif;
    color: #747474;
    font-weight: lighter;
    text-shadow: 0 0 1px rgba(206, 199, 247, 0.78);
    padding: 8px 0;
    width: 100%;
    margin: 0 6px;
}

