
/*--------Login form-------*/

.admin_form_container{
    width: 80%;
    text-align: center;
    margin: 15px auto;
}
.form_admin{
    border: 1px solid #d9d9d9; 
    background-color:#ececec; 
    text-align:center;
    max-width: 400px;
    width: 91%;
    display:inline-block; 
    padding: 15px;

}
.form_admin h1{
    margin-bottom: 15px;
}
.form_admin .user {
    color: #7D7D7D;
    line-height: 1.667;
    padding: 0 0 10px;
    font-size: 1em;
    text-align: center;
}

.form_admin input[type="text"], .form_admin input[type="password"] {
    font-size: 1em;
    height: 21px;
    border: 1px solid #d9d9d9;
    width: 53%;
    padding: 3px 5px;
    background-color: #FBFBFB;
}

.form_admin button{
    color: #FFFFFF;
    width: 20%;
    margin-top: 10px;
    padding: 8px;
    float: none;
}

.form_admin .form_error{
    width: 68%;
    margin: 0 auto;
}
.form_admin p{
    display: block;
    text-align: center;
    padding: 5px 0;
}

/*--------End Login form-------*/


