.chatbox {
	margin-right: 10px;
	width: 225px;
	position:fixed;
    z-index: 5;
}

.chatboxhead {
    background-color: #716C6C;;
    padding: 7px;
    color: #ffffff;
    border-right: 1px solid #716C6C;;
    border-left: 1px solid #716C6C;;
    border-radius: 2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	-webkitborder-radius:2px 2px 0 0;
	-ms-border-radius:2px 2px 0 0;
	-o-border-radius:2px 2px 0 0;
}

.chatboxblink {
	/*background-color: #176689;*/
	background-color: #F85400;
	border-right:1px solid #EB5000;
	border-left:1px solid #EB5000;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 12px;
	color: #333333;
	height:200px;
	width:209px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    border-bottom: 1px solid #eeeeee;
    background-color: #F4F4F4;
	line-height: 1.3em;
}

.chatboxinput {
	padding: 5px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
    background-color: #FAFAFA;
}


 div.chatbox * {  -moz-box-sizing: content-box !important;    
    -webkit-box-sizing: content-box !important;    
    box-sizing: content-box  !important; }
	
	
.chatboxtextarea {
	width: 208px;
	height:43px;
	padding:3px 0pt 3px 3px;
	border: none;
	margin: 0px;
	overflow:hidden;
        resize: none;
        background-color: #FAFAFA;
}

.chatboxtextareaselected {
	border:  none;
	margin:0;
}

.chatboxmessage {
	margin-left:1em;margin-bottom:3px;
}

.chatboxinfo {
	margin-left:-1em;
	color:#666666;font-size:10px;

}

.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
    color: #565664;
}

.chatboxmessagecontent {
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    font-size: 9px;
    margin: 0 3px;
}
.chatboxoptions a:hover{
    color: #ffffff;
}
.chatboxtitle {
	float: left;
	font-size:13px;
    color: #ffffff;
}

.chatboxhead {
		/*cursor:move !important;*/
}

