/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}

.slides > li{
    position: relative;
}

.flexslider .slides > li:first-child {
    display: block;
    -webkit-backface-visibility: visible;
    padding-bottom: 5px;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 2px #dddddd;

}
#flexslider{
    width: 37%;
    float: left;
    padding: 0;
}
.flexslider .slides > li, #flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.flexslider .slides img {
  max-width: 280px;

  width: 100%;
  display: block;

}
.flexslider .slides:after, #flexslider .slides:after{
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
img.zoom{
  max-width: 280px;
  width: 100%;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider, #flexslider {
  margin: 0 auto;
    padding: 10px 10px 25px 10px;
  /*border: 4px solid #ffffff;*/
    background-color: #F4F4F4;

  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides, #flexslider .slides {
  zoom: 1;
    margin-bottom: 12px;


}
.flexslider .slides img, #flexslider .slides img {
  height: auto;
}
.flex-viewport, #flex-viewport {
  max-height: 300px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

}
#flexslider{
    border: none;
    box-shadow: none;
    padding: 5px;
}
#flexslider .flex-viewport{
    border: 1px solid #F85400;
    margin: 0;
}
#flexslider .slides{
    margin: 0;
}
#flexslider .slides li{
    background-color: #ffffff;
}
#flexslider .flex-viewport, .flex-viewport {
  max-height: 280px;
    height: 100%;
}
.carousel li, #flexslider .carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: #C9C9C9 ;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 19px;  font-weight: lighter;
  display: inline-block;
  content: '\f001';
  color: #000;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flexslider .flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 16px;  font-weight: lighter;
  display: inline-block;
  content: '\f001';
  color: #000;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: -1px;
    background-color: #F9F9F9;
    line-height: 55px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    text-align: center;
}
.flex-direction-nav .flex-next {
  right: -1px;
    background-color: #F9F9F9;
    line-height: 55px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    text-align: center;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flexslider-controls{
    position: absolute;
    bottom: 4%;
    right: 0;
    left: 0;
}
.flex-control-nav {
  width: 100%;
  /*position: absolute;*/
  /*bottom: 10px;*/
    background-color: #F4F4F4;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #C9C9C9 ;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li.flex-active {

  cursor: default;
}
img.flex-active{
    border: 1px solid #F85400 !important;
}
.flex-control-nav li.flex-active{
    background: #0099D6;
    padding: 1px 6px;
    border: 1px solid #008BC7;
    color: #ffffff;
    border-radius: 3px;
    cursor: default;
    font-weight: normal !important;
}
.flex-control-nav li{
    cursor: pointer;
    font-weight: bolder;
}
.flex-control-thumbs {
  margin: 10px 0 0;
  position: static;
  overflow: hidden;
    width: 100%;
}
.flex-control-thumbs li {
  width: 25%;
    box-sizing: border-box;
  float: left;
  margin: 0;

}
.flex-control-thumbs li:last-of-type {
    padding: 0;
}
.flex-control-thumbs img {
    max-width: 65px;
  width: 99%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
    border: 1px solid #C4C4C4;

}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

#flezslider .slides > li, img.zoom {
    max-height: 280px;
    height: 100%;
    max-width: 280px;
    width: 100%;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width:980px) {
    #flexslider {
        width: 34%;
    }
    .flex-control-thumbs li {
        margin: 0 3px;
        width: 22%;
    }
    .flex-control-thumbs li:last-of-type {
        margin-right: 0;
    }
    .flex-control-thumbs li:first-of-type {
        margin-left: 0;
    }
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
@media screen and (max-width:640px) {
    .slider_details {
        width: 100%;
    }
    .flex-control-thumbs li {
        width: 17%;
        float: none;
        margin: 0 7px;
    }
}
@media screen and (max-width:480px) {

    #flexslider{
        float: none;
        width: 75%;
        margin: 0 auto 20px;
    }
    .flexslider {
        margin: 15px auto;
    }
    .flex-control-thumbs li {
        width: 19%;
    }

}



