@font-face {
    font-family: 'imakr';
    src:url('../fonts/imakr.eot?ojco6n');
    src:url('../fonts/imakr.eot?#iefixojco6n') format('embedded-opentype'),
    url('../fonts/imakr.ttf?ojco6n') format('truetype'),
    url('../fonts/imakr.woff?ojco6n') format('woff'),
    url('../fonts/imakr.svg?ojco6n#imakr') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'imakr';
    speak: none;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-comments:before {
    content: "\e603";
    padding: 5px;
    font-size: 18px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
}
.icon-phone:before {
    content: "\e601";
    padding: 5px;
    font-size: 18px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
}
.icon-envelope:before {
    content: "\e605";
    padding: 5px;
    font-size: 18px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
}

.icon-basket:before {
    content: "\e600";
    color: #716C6C;
    font-size: 30px;
}
.icon-justice:before {
    content: "\e604";
    color: #716C6C;
    font-size: 30px;
}


.icon-magnifier:before {
    content: "\e602";
    color: #716C6C;
    font-size: 16px;
    padding: 8px;
}
.search_button .icon-magnifier::before{
    color: #ffffff;
    font-weight: bold;
}

.icon-justice2:before {
    content: "\e604";
    color: #716C6C;
    font-size: 25px;
    line-height: 1;
}
.icon-share:before {
    content: "\e608";
    color: #716C6C;
}
.icon-share2:before{
    content: "\e608";
    color: #716C6C;
    padding: 7px;
    display: inline-block;
    font-size: 19px;
    line-height: 1;
}
.icon-basket2:before {
    content: "\e600";
    color: #716C6C;
}
.icon-plus:before {
    content: "\e609";
    color: black;
    font-size: 10px;
    vertical-align: middle;
    padding: 0 15px;
}

.icon-justice3:before {
    content: "\e604";
    color: #F85400;
    font-size: 25px;
    line-height: 1;
}


.icon-dollar2:before {
    content: "\f155";
    padding: 3px 7px;
    background-color: #F85400;
    color: #fff;
    border-radius: 2px;
}
.icon-discout:before {
    content: "\e60e";
    padding: 3px;
    background-color: #F85400;
    color: #fff;
    border-radius: 2px;
}
.icon-cube2:before {
    content: "\e60c";
    padding:3px;
    background-color: #F85400;
    color: #fff;
    border-radius: 2px;
}
.icon-hand:before {
    content: "\e60b";
    padding: 3px;
    background-color: #F85400;
    color: #fff;
    border-radius: 2px;
}
.icon-tools2:before {
    content: "\e60d";
    padding: 3px;
    background-color: #F85400;
    color: #fff;
    border-radius: 2px;
}
.icon-thumbsup2:before {
    content: "\e60a";
    padding: 3px;
    background-color: #F85400;
    color: #fff;
    border-radius: 2px;
}
.icon-clipboard:before {
    content: "\e610";
    padding: 3px;
    background-color: #F85400;
    color: #fff;
    border-radius: 2px;
}

.icon-dollar:before {
    content: "\f155";
    padding: 4px 8px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
}
.icon-cube:before {
    content: "\e60c";
    padding: 4px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
}
.icon-tools:before {
    content: "\e60d";
    padding: 4px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
}
.icon-reply:before {
    content: "\e60f";
    padding: 4px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
}
.icon-thumbsup:before {
    content: "\e60a";
    padding: 4px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
}
.icon-phone2:before {
    content: "\e601";
    padding: 4px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
}

.icon-twitter:before {
    content: "\e606";
    color: #fff;
}

.icon-triangle-left:before {
    content: "\f044";
    padding: 0 10px;
    font-size: 15px;
    color: #fff;
}
.icon-triangle-right:before {
    content: "\f05a";
    padding: 0 10px;
    font-size: 15px;
    color: #fff;
}

.icon-trashcan:before {
    content: "\e607";
    color:#716C6C;
    font-size: 24px;
    vertical-align: middle;
}
.icon-plus2:before {
    content: "\e609";
    color: #716C6C;
    font-size: 16px;
}

.icon-square-green:before {
    content: "\e611";
    color: #009900;
    font-size: 35px;
    vertical-align: middle;
}
.icon-square-yellow:before {
    content: "\e611";
   color: #f8c11c;
    font-size: 35px;
    vertical-align: middle;
}
.icon-square-red:before {
    content: "\e611";
    color: #991005;
    font-size: 35px;
    vertical-align: middle;
}

.icon-triangle-up:before {
    content: "\f0aa";
    color: #716C6C;
    font-size: 12px;
}
.icon-triangle-down2:before {
    content: "\f05b";
    color: #716C6C;
    font-size: 12px;
}
.icon-triangle-down:before {
    content: "\f05b";
    color: #716C6C;
    width: 20%;
    height: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 0;
    line-height: 2.5;
    font-size: 14px;
    background-color: #eeeeee;
    border-left: 1px solid #d3d3d3;
}
.search_form .icon-triangle-down:before{
    border-left: none;
}

.select_text.color_text.color_arrow.icon-triangle-down:before,
.details_form .icon-triangle-down:before,
.buy_filament .icon-triangle-down:before{
    width: 38%;
}
.sort_right .icon-triangle-down:before, .sort_down .icon-triangle-down:before,
form#editUserForm .custom_select .icon-triangle-down:before{
    width: 32%;
}
.login_form .icon-triangle-down:before {
    width: 12%;
}





.icon-times-circle:before {
    content: "\f057";
    color: #D6411E;
    font-size: 19px;
    vertical-align: bottom;
    cursor: default;
}
.icon-check-circle:before {
    content: "\f058";
    color: #008BC7;
    font-size: 20px;
    cursor: default;
}
.icon-paid-circle:before {
    content: "\f058";
    color: #008855;
    font-size: 20px;
    cursor: default;
}
.icon-question-circle:before {
    content: "\f059";
    color: #008BC7;
    font-size: 20px;
    cursor: default;
}


.icon-light-bulb:before {
    content: "\e801";
    font-size: 15px;
}
.icon-success:before {
    content: "\f058";
    color: #008BC7;
    font-size: 19px;
    vertical-align: bottom;
}
.icon-cancel-circle:before {
    content: "\e800";
    font-size: 14px;
    vertical-align: top;
}

.icon-minus:before {
    content: "\e900";
    font-size: 13px;
    font-weight: bold;
}

.icon-user:before {
    content: "\e901";
    font-size: 7em;
    padding: 5px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;

}
.icon-user2:before {
    content: "\e902";
    font-size: 7em;
    padding: 5px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
}
.icon-home3:before {
    content: "\e903";
    padding: 5px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;

}
.icon-location:before {
    content: "\e904";
    font-size: 7em;
    padding: 5px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;

}
.icon-pencil:before {
    content: "\e905";
    color: #716C6C;
    font-size: 16px;
}

.icon-cancel:before {
    content: "\e908";
    color: #716C6C;
    font-size: 15px;
}

.icon-user-small:before {
    content: "\e901";
    padding: 5px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
}
.icon-user2-small:before {
    content: "\e902";
    padding: 5px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
}

.fill .icon-plus:before{
    vertical-align: baseline;
    font-size: 16px;
    padding: 0 10px 0 0;
    color: #716C6C;
}

.icon-twitter:before {
    content: "\e606";
}
.icon-facebook:before {
    content: "\e612";
}
.icon-facebook2:before {
    content: "\e907";
    font-size: 32px;
    color: #4c66a4;
}
.icon-twitter2:before {
    content: "\e906";
    font-size: 30px;
    color: #55acee;
}
.icon-google-plus-square:before {
    content: "\f0d4";
    font-size: 33px;
    color: #D50F25;
}

.login_with .icon-facebook2:before, .login_with .icon-twitter2:before,
.login_with .icon-google-plus-square:before{
    font-size: 19px;
}


@media screen and (max-width:767px) {

    .icon-justice2:before, .icon-justice3:before{
        font-size: 23px;
    }
    .sort_right .icon-triangle-down:before{
        width: 40%;
    }

}
@media screen and (max-width:640px) {

    .icon-triangle-down:before{
        padding: 0;
        width: 22%;
    }
    .select_text.color_text.color_arrow.icon-triangle-down:before,
    .select_text.color_arrow.icon-triangle-down:before {
        width: 38%;
    }


}
@media screen and (max-width:480px) {

    .icon-plus:before{
        padding: 0;
    }
    .icon-facebook2:before {
        font-size: 29px;
    }
    .icon-twitter2:before {
        font-size: 27px;
    }
    .icon-google-plus-square:before {
        font-size: 30px;
    }
    .sort_right .icon-triangle-down:before, .sort_left .icon-triangle-down:before{
        width: 22%;
    }
}