@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?e5o9fp');
    src:url('../fonts/icomoon.eot?e5o9fp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?e5o9fp') format('truetype'),
    url('../fonts/icomoon.woff?e5o9fp') format('woff'),
    url('../fonts/icomoon.svg?e5o9fp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-billing:before {
    content: "\e900";
    font-size: 7em;
    padding: 5px;
    background-color: #716C6C;
    color: #fff;
    border-radius: 2px;
}
.icon-basket:before {
    content: "\e600";
}
.icon-phone:before {
    content: "\e601";
}
.icon-magnifier:before {
    content: "\e602";
}
.icon-comments:before {
    content: "\e603";
}
.icon-justice:before {
    content: "\e604";
}
.icon-envelope:before {
    content: "\e605";
}
.icon-twitter:before {
    content: "\e606";
}
.icon-trashcan:before {
    content: "\e607";
}
.icon-share2:before {
    content: "\e608";
}
.icon-plus:before {
    content: "\e609";
}
.icon-thumbsup:before {
    content: "\e60a";
}
.icon-hand:before {
    content: "\e60b";
}
.icon-cube:before {
    content: "\e60c";
}
.icon-tools:before {
    content: "\e60d";
}
.icon-discout:before {
    content: "\e60e";
}
.icon-reply:before {
    content: "\e60f";
}
.icon-clipboard:before {
    content: "\e610";
}
.icon-square:before {
    content: "\e611";
}
.icon-facebook:before {
    content: "\e612";
}
.icon-cancel-circle:before {
    content: "\e800";
}
.icon-light-bulb:before {
    content: "\e801";
}
.icon-minus:before {
    content: "\e901";
}
.icon-user:before {
    content: "\e902";
}
.icon-user2:before {
    content: "\e903";
}
.icon-home3:before {
    content: "\e904";
}
.icon-location:before {
    content: "\e905";
}
.icon-pencil:before {
    content: "\e906";
}
.icon-twitter2:before {
    content: "\e907";
}
.icon-facebook2:before {
    content: "\e908";
}
.icon-cancel:before {
    content: "\e909";
}
.icon-triangle-left:before {
    content: "\f044";
}
.icon-times-circle:before {
    content: "\f057";
}
.icon-check-circle:before {
    content: "\f058";
}
.icon-question-circle:before {
    content: "\f059";
}
.icon-triangle-right:before {
    content: "\f05a";
}
.icon-triangle-down:before {
    content: "\f05b";
}
.icon-triangle-up:before {
    content: "\f0aa";
}
.icon-google-plus-square:before {
    content: "\f0d4";
}
.icon-dollar:before {
    content: "\f155";
}