* {
    margin:0;
    padding:0;
    outline:none;
    text-decoration:none;
    list-style: none;
    color: #565656;
}

body,
html {
    height:100%;
    font-family: 'Roboto Condensed', sans-serif, Helvetica, Arial, sans-serif;
    font-size:12px;
    line-height:1.3;
    color:#404449;
}

#wrap {display: table; height: 100%; width: 100%;}
#wrap > section {display: table-row; height: auto;}
#wrap > header, #wrap > footer {display: table-row; height: 1px;}

p{
    font-size: 12px;
}
h3{
    text-transform: uppercase;
    font-size: 13px;
    vertical-align: top;
    padding: 5px 0 0;
}
.right{
    float: right;
}
.left{
    float: left;
}
.orange{
    color: #F85400;
}
option{
    background-color: #ffffff;
}
.current_accordion{
    font-weight: bold !important;
    text-shadow: none !important;
    border-top: 3px solid #0099D6 !important;
}

@media screen and (max-width:980px) {

    span{
        font-size: 10px;
    }

}

/*---------Header---------*/

header{
    position: relative;
    width: 100%;
    background: rgba(250,250,250,1);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 25%, rgba(250,250,250,1) 27%, rgba(241,241,241,1) 47%, rgba(235,235,235,1) 59%, rgba(228,228,228,1) 74%, rgba(222,222,222,1) 87%);
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 25%, rgba(250,250,250,1) 27%, rgba(241,241,241,1) 47%, rgba(235,235,235,1) 59%, rgba(228,228,228,1) 74%, rgba(222,222,222,1) 87%);
    background: -o-linear-gradient(top, rgba(250,250,250,1) 25%, rgba(250,250,250,1) 27%, rgba(241,241,241,1) 47%, rgba(235,235,235,1) 59%, rgba(228,228,228,1) 74%, rgba(222,222,222,1) 87%);
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 25%, rgba(250,250,250,1) 27%, rgba(241,241,241,1) 47%, rgba(235,235,235,1) 59%, rgba(228,228,228,1) 74%, rgba(222,222,222,1) 87%);
    background: linear-gradient(to bottom, rgba(250,250,250,1) 25%, rgba(250,250,250,1) 27%, rgba(241,241,241,1) 47%, rgba(235,235,235,1) 59%, rgba(228,228,228,1) 74%, rgba(222,222,222,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dedede', GradientType=0 );
}
header a{
    float: left;
}
.column_container, .user_cards{
    text-align: justify;
    font-size: 0;
}
.column_container:after, .user_cards:after{
    content: "\00a0";
    display: inline-block;
    width: 100%;
    font-size: 0;
}
.column_container[data-columns="2"] li{
    display: inline-block;
    width: 47%;
    position: relative;
    vertical-align: top;
}
.user_cards[data-columns="2"] li{
    display: inline-block;
    width: 46%;
    vertical-align: top;
    margin-bottom: 20px;
}
.column_container[data-columns="3"] li{
    display: inline-block;
    width: 26%;
    position: relative;
    vertical-align: top;
}
.column_container[data-columns="4"] li{
    display: inline-block;
    width: 22%;
    position: relative;
    vertical-align: top;
    margin-bottom: 20px;
}
.placeholder{
    padding: 0 !important;
    margin: 0 !important;
}
.content_container{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.logo_img{
    margin: 20px auto;
}
.inner_header{
    float: right;
    width: 80%;
}
/*top menu row*/
.menu_top_row{
    margin: 25px 0 30px;
    width: 100%;
    display: block;
}
.information{
    background-color: #fff;
    width: 71%;
    float: left;
    box-shadow: 0 0 3px;
    padding: 3px 0;
}
.information li a{
    font-weight: bolder;
    font-size: 14px;
    padding: 7px;
}
span.icon-comments, span.icon-phone, span.icon-envelope{
    float: left;
    margin-right: 5px;
}
.information li a span{
    font-size: 13px;
}
.live_chat{
    text-transform: uppercase;
    font-size: 14px;
}
.user_buttons{
    float: right;
    width: 27%;
}
.column_container.user_buttons li{
    display: inline-block;
    width: 46%;
    background-color: #0099D6;
    border: 1px solid #008BC7;
    border-radius: 2px;
    text-align: center;
}
.user_buttons li a{
    color: #fff;
    text-transform: uppercase;
    padding: 9px;
    width: 75%;
    font-size: 14px;
}
/*middle menu row*/
.menu_middle_row{
    display: table;
    width: 100%;
    margin-bottom: 30px;
}
.search{
    width: 59%;
    display: inline-table;
    position: relative;
}
option {
    font-size: 13px;
    padding: 5px;
    line-height: 2;
}
.search_form{
    border: 1px solid #B7B7B7;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: table;
    box-sizing: border-box;
}
.search_form .custom_select{
    background-color: #EEE;
    display: table-cell;
    width: 25%;
    height: inherit;
}
.search_form .select_text{
    background-color: #eeeeee;
}
label.icon-magnifier {
    display: table-cell;
    width: 1%;
}
.search_form input[type="text"]{
    display: table-cell;
    font-size: 14px;
    border: medium none;
    background-color: #FFF;
    width: 69%;
    height: inherit;
    padding: 0 10% 0 0;
    box-sizing: border-box;
}
/*autocomplete*/
#country-list{
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position: absolute;
    left: 25%;
    width: 55%;
    z-index: 2;
}
#country-list li{
    padding: 10px;
    background:#FAFAFA;
    border-bottom:#F0F0F0 1px solid;
}
#country-list li:hover{
    background:#F0F0F0;
}
/*end autocomplete*/
.search_icon{
    display: none;
}
.search_text{
    color: #ffffff;
    font-size: 16px;
}
.newsletter_form input[type="email"]{
    height: 33px;
    width: 70%;
    padding-left: 10px;
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 2px #dddddd;
    box-sizing: border-box;
    background-color: #ffffff;
}
button{
    padding: 10px 0;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F85400;
    color: #fff;
    text-transform: uppercase;
    border: none;
    float: right;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.82);
    cursor: pointer;
}
.search_button{
    width: 30%;
    display: table-cell;
}
.submit_button{
    width: 30%;
    padding: 7px;
}
.cl_basket{
    display: inline-block;
    width: 38%;
    float: right;
}
.cl_basket li{
    background-color: #fff;
    box-shadow: 0 0 3px;
}
.cl_basket li a{
    width: 100%;
}
.cl_basket li span{
    margin: 0 0 0 5px;
    display: inline-block;
    line-height: 1.3;
    font-size: 11px;
}
span.icon-justice, span.icon-basket{
    font-size: 27px;
    float: left;
}
.cl_basket_content{
    display: inline-block;
    width: 66%;
    float: right;
}
.cl_basket_info{
    margin: 0 !important;
    color: #A2A2A2;
}
.total{
    color: #F85400;
}
.cl_basket li span.quantity{
    color: #A2A2A2;
    font-size: 10px;
    margin: 0;
}
/*bottom menu row*/
.menu_bottom_row{
    width: 100%;
    display: table;
    margin-bottom: 20px;
    background-color: #F85400;
    border: 1px solid #D92500;
    box-shadow: 0 0 1px;
    border-radius: 2px;
    box-sizing: border-box;
}
.menu_bottom_row li{
    display: table-cell;
    padding: 15px;
    width: 15%;
    border-right: 1px solid #EB5000;
    text-align: center;
    box-sizing: border-box;
}
.menu_bottom_row li:last-of-type{
    border-right: none;
}
.menu_bottom_row li a{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}
.clear{
    clear:both;
}
.toggle-nav {
    display:none;
}

/*--------@media--------*/

@media screen and (max-width:980px) {

    .content_container{
        width: 95%;
    }
    .information{
        width: 67%;
    }
    .information li a span {
        font-size: 12px;
    }
    .cl_basket_content h3{
        font-size: 12px;
    }
    .column_container[data-columns="4"] li{
        width: 155px;
    }
    .column_container[data-columns="3"] li{
        width: 33%;
    }
    .column_container[data-columns="2"] li{
        width: 48%;
    }
    .user_buttons {
        width: 32%;
    }
    .search {
        width: 54%;
    }
    .cl_basket {
        width: 44%;
    }

}
@media screen and (max-width:767px) {

    .inner_header {
        width: 78%;
        position: relative;
    }
    .information{
        display: none;
    }
    .user_buttons {
        width: 40%;
    }
    .cl_basket{
        position: absolute;
        left: 0;
        top: 25px;
        width: 57%;
    }
    .search{
        width: 100%;
    }

}
@media screen and (max-width:640px) {

    .inner_header{
        width: 71%;
    }
    .user_buttons{
        width: 100%;
    }
    .cl_basket{
        position: relative;
        top: 0;
        width: 100%;
    }
    .search{
        margin-bottom: 30px;
    }

    .menu {
        width: 100%;
        position:relative;
        display:inline-block;
        border: 1px solid #D92500;
        box-shadow: 0 0 1px;
        margin-bottom: 20px;
        background-color: #F85400;
    }
    .menu a {
        display:block;
        color: #ffffff;
    }
    .active_nav {
        display:none;
    }
    .menu_bottom_row {
        width: 96%;
        position: absolute;
        top: 55px;
        left: 2%;
        border-radius: 3px;
        z-index: 100;
    }
    .menu_bottom_row:after {
        width:0;
        height:0;
        position:absolute;
        top:0;
        left:48%;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #D92500;
    }
    .menu_bottom_row li{
        display: inline-block;
        width: 49%;
        border: none;
    }
    .menu_bottom_row li a{
        width: 100%;
        padding: 12px;
        display: inline-block;
        margin: 0 auto;
    }
    .toggle-nav {
        display: inline-block;
        width: 100%;
        float: none;
        text-align: center;
        padding: 10px 0;
        text-transform:uppercase;
        font-size: 20px;
        font-weight: lighter;
    }


}
@media screen and (max-width:480px) {

    .content_container{
        width: 100%;
    }
    .logo_img {
        float: none;
        display: block;
        text-align: center;
        margin: 10px auto;
    }
    .inner_header{
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    .menu_top_row{
        width: 100%;
        margin: 0 auto;
    }
    .user_buttons {
        width: 90%;
        margin: 0 auto;
        float: none;
    }
    .user_buttons li {
        text-align: center;
        padding: 0;
    }
    .menu_middle_row{
        width: 90%;
        margin: 25px auto;
    }
    .search_form .custom_select{
        width: 30%;
    }
    .search {
        display: block;
        width: 100%;
        margin: 0 auto 25px;
    }
    .search_button{
        width: 20%;
        padding: 11px 0;
    }
    label.icon-magnifier {
        display: none;
    }
    .search_text{
        display: none;
    }
    .search_icon{
        display: block;
    }
    .search_form input[type="text"]{
        width: 80%;
        padding: 0 5%;
    }
    .cl_basket {
        position: relative;
        top: 0;
        display: block;
        width: 100%;
        float: none;
        margin: 0 auto 5px;
    }
    #country-list{
        left: 30%;
        width: 56%;
    }
    .menu {
        margin: 0 auto 20px;
        width: 90%;
        display: block;
    }

}

/*---------End header---------*/

/*--------Footer--------*/

.footer_menu_container{
    background-color: #eeeeee;
    /*width: 100%;*/
}
.footer_menu{
    text-align: center;
}
.footer_menu li{
    display: inline-block;
    padding: 16px 0;
    width: 15%;
}
.footer_menu li a{
    text-transform: uppercase;
    color: #676767;
    font-weight: bold;
    font-size: 15px;
    vertical-align: middle;
}
.footer_inner{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,4f4f4f+11,5d5d5d+37,636363+53,616161+100 */
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(79,79,79,1) 11%, rgba(93,93,93,1) 37%, rgba(99,99,99,1) 53%, rgba(97,97,97,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(11%,rgba(79,79,79,1)), color-stop(37%,rgba(93,93,93,1)), color-stop(53%,rgba(99,99,99,1)), color-stop(100%,rgba(97,97,97,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(79,79,79,1) 11%,rgba(93,93,93,1) 37%,rgba(99,99,99,1) 53%,rgba(97,97,97,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(79,79,79,1) 11%,rgba(93,93,93,1) 37%,rgba(99,99,99,1) 53%,rgba(97,97,97,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(79,79,79,1) 11%,rgba(93,93,93,1) 37%,rgba(99,99,99,1) 53%,rgba(97,97,97,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(79,79,79,1) 11%,rgba(93,93,93,1) 37%,rgba(99,99,99,1) 53%,rgba(97,97,97,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#616161',GradientType=0 ); /* IE6-9 */

    width: 100%;
}
.footer_inner_columns{
    text-align: justify;
}
.footer_inner_columns .column{
    display: inline-block;
    width: 22%;
    vertical-align: top;
    margin-top: 17px;
}
.footer_inner_columns:after{
    content: "";
    display: inline-block;
    width: 100%;
}
.footer_list{
    display: block;
}
.footer_list li{
    line-height: 2;
}
.footer_list li a{
    color: #ADADAD;
}
.footer_title, .newsletter_title{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: lighter;
    border-bottom: 1px solid #F85400;
    margin-bottom: 8px;
}
.newsletter_form{
    width: 100%;
    display: table;
}
.newsletter_title{
    border-bottom: none;
}
.newsletter{
    padding: 10px;
    background-color: #828282;
    box-shadow: 0 0 10px #3E3D3D;
    width: 100%;
    margin-bottom: 8px;
}
.newsletter_form input{
    display: table-cell;
    height: 100%;
}
.footer_credits{
    width: 100%;
    display: inline-block;
    padding: 15px 0;
    font-size: 11px;
}
.copyleft{
    float: left;
    color: #ADADAD;
}
.copyright{
    float: right;
    color: #ADADAD;
}

/*--------@media--------*/

@media screen and (max-width:980px) {

    .footer_inner .content_container{
        width: 98%
    }
    .footer_inner_columns .column {
        width: 21%;
    }
    .footer_title{
        font-size: 14px;
    }
    .footer_menu li {
        width: 25%;
    }

    .footer_menu li a{
        font-size: 13px;
    }

}
@media screen and (max-width:767px) {

    .footer_inner_columns .column {
        width: 45%;
    }
}
@media screen and (max-width:480px) {

    .footer_menu {
        display: block;
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
    .footer_menu li {
        display: inline-table;
        padding: 16px 0;
        width: 31%;
        margin: 0 auto;
        text-align: justify;
    }
    .footer_menu li a {
        font-size: 11px;
    }
    .footer_inner_columns{
        margin: 0 auto;
        width: 80%;
    }
    .footer_inner_columns .column {
        margin: 20px 0;
        width: 95%;
    }
    .footer_list li {
        line-height: 2.5;
    }
    .footer_credits {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .copyleft {
        float: none;
    }
    .copyright {
        float:  none;
        text-align: center;
    }
}

/*---------End footer--------*/

/*--------Homepage--------*/

.column_wrap{
    margin: 25px 0;
    /*width: 100%;*/
    /*position: relative;*/
}
.content_wrap{
    display: inline-block;
    background-color: #F4F4F4;
    box-shadow: 0 0 2px #dddddd;
    border: 1px solid #E2E2E2;
    padding: 15px;
    margin-bottom: 25px;
}

/*--------sidebar--------*/
.sidebar{
    width: 19%;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.filter{
    width: 100%;
    background-color: #F4F4F4;
    box-shadow: 0 0 2px #dddddd;
    border: 1px solid #E2E2E2;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.vertical-track{
    width: 3px;            /* How wide is the scrollbar going to be? */
    background-color: #F4F4F4; /* What color should the vertical track be? */
}
.vertical-handle{
    width: 3px;
    right: 1px;
    border-radius: 3px;
    background-color: rgba(159, 159, 159, 0.43);
}
/*custom dropdown*/
.dropdown_container {
    position: relative;
    width: 100%;
    cursor: pointer;
}
.dropdown_title{
    color: #F85400;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    background-color: #ffffff;
    padding: 4px;
    margin: 8px 0;
}
.dropdown_title:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 7px;
    top: 10px;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: #9F9F9F transparent;
}
.arrow_up:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 7px;
    top: 10px;
    border-width: 0 4px 4px 4px;
    border-style: solid;
    border-color: #9F9F9F transparent;
}
.dropdown_menu {
    /*display: none;*/
}
.dropdown_menu li{
    text-align: left;
    padding: 2px 18px;
    line-height: 1.5;
}
.dropdown_container:last-of-type {
    margin-bottom: 20px;
}
/*end custom dropdown*/
.last_seen{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.last_seen ul{
    /*position: absolute;*/
    /*bottom: -15px;*/
}
.last_seen h2{
    margin-bottom: 15px;
    text-align: center;
}
.last_seen img {
    width: 100%;
    max-width: 160px;
    /*max-height: 160px;*/
    height: 160px;
    border: 1px solid #E2E2E2;
}
.last_seen img:hover{
    border: 1px solid #F85400;
}
.last_seen span{
    color: #F85400;
    font-size: 15px;
    display: block;
    text-align: right;
}
.last_seen span:first-of-type{
    margin-bottom: 15px;
}
/*--------end sidebar--------*/
.main_content{
    width: 79%;
    float: right;
    /*position: relative;*/
    margin-bottom: 15px;
}
.main_content_full{
    width: 100%;
    margin-bottom: 20px;
}
/*slider*/
.slider_details{
    max-width: 755px;
    padding: 30px;
    width: 59%;
    box-sizing: border-box;
}
.slider_details p{
    margin: 0 0 35px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 14px;
}
.slider_title{
    margin: 0 0 20px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
}
.link_button{
    display: block;
    background-color: #F85400;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 2px;
}
.slider_button{
    font-size: 11px;
    width: 45%;
    padding: 15px;
}
/*tabbed box*/
.tab_box {
    width:100%;
}
.tab_box h3 {
    padding:20px 0;
}
ul.tabs {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
}
ul.tabs li {
    display: inline-block;
    background-color: #0099D6;
    border-radius: 2px;
    margin: 0 3px -1px 3px;
    width: 20%;
}
ul.tabs li:first-of-type{
    margin-left: 0;
}
.tabs li a, .tabs li span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    padding: 8px 20px;
    cursor: pointer;
}
.active_panel {
    display: block;
}
.active_tab:after{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color:  #F4F4F4;
    position: absolute;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    left: -1px;
}
li.tab.active_tab {
    position: relative;
    background-color: #F4F4F4;
    box-shadow: 0 0 2px #dddddd;
    border: 1px solid #E2E2E2;
}
li.tab.active_tab a, li.tab.active_tab span {
    background-color: #F4F4F4;
    color: #676767;
    font-weight: bold;
}
.panels {
    width: 100%;
}
.panel {
    overflow: hidden;
    border: 1px solid #E2E2E2;
    background-color: #F4F4F4;
    box-shadow: 0 0 2px #dddddd;
    z-index: 1;
    padding: 20px 30px 0;
    box-sizing: border-box;
}

/*deals*/
.see_all{
    float: right;
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: bold;
}
.product_details{
    background-color: #ffffff;
    border: 1px solid #C4C4C4;
    position: relative;
    text-align: left;
}
.product_details a{
    display: block;
}
.product_details img{
    max-width: 160px;
    /*max-height: 160px;*/
    height: 160px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.product_details:hover {
    border: 1px solid #F85400;
}
.product_details p{
    padding: 8px;
    min-height: 30px;
    border-top: 1px solid #C4C4C4;
}
.old_price{
    font-weight: bolder;
    text-decoration: line-through;
    display: block;
    font-size: 12px;
}
.new_price{
    font-size:  18px;
    color: #F85400;
    font-weight: normal;
    display: inline-block;
}
.price_compare{
    padding: 0 0 10px 10px;
}

/*deals buttons*/
.cl_share{
    border-top: 1px solid #C4C4C4;
    width: 100%;
    background-color: #F4F4F4;
    position: relative;
}
.cl_share li.cl, .cl_share li.share{
    position: initial;
    font-size: 10px;
    box-sizing: border-box;
    text-align: left;
    margin: 0;
    vertical-align: middle;
}
.cl_share li.cl {
    width: 65%;
    border-right: 1px solid #C4C4C4;
}
.cl_share li.share.dropdownShare{
    width: 35%;
}
a.compare{
    display: inline-block;
    padding: 5px 0;
    width: 100%;
 }

.clicked{
    color: #F85400;
}
.cell.share_cell{
    line-height: 1.5;
}

/*end buttons*/
.cell{
    font-size: 10px;
}
span.icon-share, span.icon-justice2, span.icon-justice3 {
    font-size: 17px;
    float: left;
    margin: 0 5px 0 3px;
}
/*bundle*/
form#bundle_form {
    margin-bottom: 20px;
}
.promo{
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    position: relative;
}
.bundle{
    width: 80%;
    padding: 15px 0 0 15px;
    display: inline-block;
    box-sizing: border-box;
}
.promo p{
    float: left;
    width: 70%;
}
.promo_products{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.promo_products li{
    display: inline;
}
.promo_products img{
    max-width: 65px;
    /*max-height: 70px;*/
    height: 70px;
    width: 100%;
    vertical-align: middle;
    margin: 10px 0;
}
.discount{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    width: 19%;
    padding: 15px 0 0 0;
}
.discount_price{
    margin-bottom: 15px;
}
.discount .old_price, .discount .new_price{
    padding: 0;
    text-decoration: none;
}
span.cell.sh_discount {
    width: 51%;
}
ul.bundle_buttons {
    width: 100%;
    background: #F4F4F4;
    border-top: 1px solid #C4C4C4;
    border-left: 1px solid #c4c4c4;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}
li.cl_discount{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #C4C4C4;
}
.cl_discount a, .share_discount a{
    background-color: #F4F4F4;
    width: 100%;
    font-size: 10px;
}
.cl_discount a{
    padding: 3px 0;
}
.bundle_button{
    width: 61%;
    display: inline-block;
    text-align: center;
    line-height: 2;
}
.bundle_buttons .dropdown-share{
    top: inherit;
}
span.icon-basket2{
    float:left;
    font-size: 23px;
    margin: 0 3px;
}

/*promotion tags*/
.flash_sale, .bestseller{
    width: 45%;
    height: 34px;
    position: absolute;
    padding:3px 5px;
    box-sizing: border-box;
    top: 5px;
    left: -6px;
    text-shadow: 0 0 1px rgba(154, 149, 149, 1);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: lighter;
    font-size: 11px;
    z-index: 1;
}
.flash_sale{
    background-color: #F85400;
}
.flash_sale:before, .expiring:before, .bestseller:before{
    content: "";
    position: absolute;
    right: -25%;
    bottom: 0;
    width: 0;
    height: 0;
    display: inline-block;
    line-height: 0;
    border: 17px solid;
    border-color: #F85400 transparent #F85400 #F85400;
    z-index: -1;
}
.bestseller{
    background-color: #009620;
}
.block{
    display: block;
    color: #ffffff;
}
.bestseller:before{
    right: -47%;
    border-color: transparent transparent transparent #009620;
}
.duration{
    display: block;
    color: #ffffff;
    font-size: 9px;
    text-transform: none;
}
.expiring{
    background-color: #F80000;
}
.expiring:before{
    border-color: #F80000 transparent #F80000 #F80000;
}
.arrow_box:after {
    top: 100%;
    left: 0;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent #141414 transparent transparent;
}
/*end bundle*/
/*bottom row*/
.video{
    width: 63%;
    display: inline-block;
    background-color: #F4F4F4;
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 2px #dddddd;
    overflow: hidden;
}
iframe{
    width: 100%;
}
.video_title{
    background-color: #F4F4F4;
    padding: 5px 10px 0;
}
.video_title h2{
    color: #0099D6;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
}
.video_title p{
    text-align: justify;
    padding: 0 5px;
}
.promises{
    width: 34%;
    float: right;
}
.promises_title{
    color: #0099D6;
    font-weight: normal;
    margin-bottom: 20px;
}
/*accordion*/
.accordion{
    margin-bottom: 30px;
}
.accordion_section {
    border-bottom: 10px solid #F4F4F4;
}
h2.accordion_title, h2.false_at {
    padding: 7px;
    font-size: 13px;
    cursor: pointer;
    background-color: #FAFAFA;
    color: #565656;
    font-weight: normal;
    border: 1px solid #E2E2E2;
    margin-bottom: 15px;
}
.accordion_content{
    margin-bottom: 20px;
}
.accordion_content p{
    padding: 0 10px;
    text-align: justify;
    color: #777;
}

/*--------@media--------*/

@media screen and (max-width:980px) {

    .discount{
        width: 20%;
    }
    .slider_button{
        width: 48%;
    }
    .promises{
        width: 36%;
    }
    .sidebar{
        width: 19%;
    }
    .cell{
        font-size: 9px;
    }
    .last_seen{
        display: none;
    }

}
@media screen and (max-width:767px) {

    .column_container.hot_deals{
        margin-bottom: 0;
    }
    .sidebar{
        float: none;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .dropdown_menu li {
        line-height: 2;
    }
    .main_content{
        float: none;
        width: 100%;
        margin: 20px auto;
    }
    .flash_sale{
        font-size: 9px;
    }

}
@media screen and (max-width:640px) {

    .sidebar, .filter{
        min-height: 0 !important;
    }
}
@media screen and (max-width:480px) {

    .main_content, .sidebar{
        width: 95%;
    }
    .promo{
        padding: 0;
        margin: 0 auto 15px;
    }
    .promo p{
        padding: 10px;
        float: none;
        width: 100%;
    }
    .promo_products{
        width: 100%;
    }
    .discount{
        position: relative;
        width: 100%;
        padding: 0;
    }
    .discount_price{
        margin: 0 20px 10px 0;
        text-align: right;
    }
    .discount_price .old_price{
        font-size: 13px;
    }
    .discount_price .new_price{
        font-size: 25px;
    }
    .bundle {
        width: 100%;
        padding: 0;
    }
   ul.bundle_buttons{
        border-left: 0;
        position: relative;
        border-left: 0;
    }
    .bundle_button{
        font-size:12px;
    }
    span.icon-basket2,.share_discount span.icon-share{
        margin: 0 15px;
    }
    .video {
        width: 100% ;
        margin: 15px auto;
        float: none;
        position: relative;
    }
    .promises{
        width: 100%;
        margin: 0 auto;
        float: none;
    }
    .cell {
        font-size: 10px;
    }



}
@media screen and (max-width:400px) {


}
/*--------End homepage--------*/

/*--------All forms--------*/

.blue_title {
    background-color: #0099D6;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}
.form {
    width: 100%;
    background-color: #F4F4F4 !important;
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 2px #dddddd;
    padding: 20px 30px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}
.form p {
    margin-bottom: 10px;
}
.login_left{
    width: 53%;
    float: left;
}
.login_right{
    border-left: 1px solid #dddddd;
    padding-left: 30px;
    box-sizing: border-box;
    position: absolute;
    right: 30px;
    width: 47%;
    top: 20px;
    bottom: 20px;
}
.login_right p{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: lighter;
    text-align: justify;
}
.create_acc{
    width: 35%;
}
.create_acc_redirect{
    width: 35%;
}
.login_title{
    color:#0099D6;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}
.login_form {
    width: 85%;
    display: inline-block;
}
.login_form .custom_select{
    border: 1px solid #E2E2E2;
    margin-bottom: 5px;
}
.login_form input[type=text], input#passconf, input#password, input#email,
input#login_password, input.reset_pass, input.new_pass, input#currPassword{
    display: block;
    width: 100%;
    margin: 0 0 8px 0;
    padding: 10px 5px;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    background-color: #ffffff;
}
input#passconf{
    margin-bottom: 30px;
}
.login_form input[type=checkbox]{
    margin: 10px 3px 5px 0;
}
.login_form label{
    font-size: 13px;
    display: block;
}
.forgotten_password{
    float: right;
    margin: -19px 0 0 0;
}
.clear_float{
    float: none;
    display: block;
    margin: 15px 0 50px;
    border-radius: 2px;
}
.return{
    width: 15%;
    margin-bottom: 85px;
}
.create_account{
    width: 19%;
    padding: 10px;
    position: absolute;
}
/*breadcrumb*/

.breadcrumbs li{
    display: inline-block;
    color: #9A9A9A;
    text-transform: uppercase;
    font-size: 11px;
}
/*end breadcrumb*/
.reset_pass{
    width: 40% !important;
}
.reset_button{
    width: 10%;
    padding: 10px;
    float: none;
    margin-top: 10px;
    display: block;
}
.new_pass{
    width: 25% !important;
    display: inline-block !important;
    margin-right: 10px !important;
}
.form.like p{
    width: 65%;
}
.like{
    background-size: contain;
    background: url(../images/like.png) no-repeat 103% 40px;
}
.form_error {
    background-color: rgba(248, 84, 0, 0.2);
    width: 90%;
    padding: 2px;
    margin: 5px 0;
    border: 1px solid #F85400;
}
.form_error p{
    color: #D92500;;
    font-size: 11px;
    text-align: center;
    padding: 2px 0;
    margin: auto;
}
.social_login a.twitter{
    font-size: 16px;
}


/*-------@media--------*/

@media screen and (max-width:767px) {

    .create_acc {
        width: 60%;
    }
    .login_form .custom_select {
        width: 40%;
    }
    .create_account{
        width: 23%;
    }
    .login_form .form_error{
        width: 39%;
    }
    .reset_button {
        width: 15%;
    }

}
@media screen and (max-width:640px) {

    .create_acc {
        width: 30%;
    }
    .main_content_full {
        margin: 0 auto 20px;
    }
    .blue_title {
        margin: 0 auto 20px;
    }
    .form {
        margin: 0 auto 25px;
    }
    .login_left, .login_right{
        width: 100%;
        display: block;
        padding: 0;
        border: none;
        margin-bottom: 25px;
        position: initial;
    }
    .search_button.clear_float{
        width: 25%
    }
    .login_form .custom_select {
        width: 29%;
    }
    .create_account {
        width: 40%;
        position: relative;
    }
    .login_form input[type=text], input#passconf,
    input#password, input#email, input#login_password,
    input.reset_pass, input.new_pass, input#currPassword{
        width: 68%;
    }
    .login_form .form_error{
        width: 63%;
    }
    .reset_pass {
        width: 65% !important;
    }
    .reset_button {
        width: 20%;
    }

}
@media screen and (max-width:480px) {

    .form{
        padding:20px;
    }
    .create_acc {
        width: 42%;
    }
    .login_form .custom_select {
        width: 40%;
    }
    .login_form input[type=text], input#passconf,
    input#password, input#email, input#login_password,
    input.reset_pass, input.new_pass, input#currPassword{
        width: 100%;
    }
    .create_account {
        width: 62%;
    }
    .login_form .form_error{
        width: 97%;
    }
    .reset_pass {
        width: 100% !important;
    }
    .reset_button {
        width: 30%;
    }
    .create_acc_redirect {
        width: 55%;
    }

}
/*--------End forms--------*/

/*--------All products listing--------*/

.listing{
    background-color: #F4F4F4;
    /*width: 100%;*/
    padding: 20px 20px 0;
    /*box-sizing: border-box;*/
    box-shadow: 0 0 2px #dddddd;
    border: 1px solid #E2E2E2;
}
.equal{
    padding-top: 16px;
}
.select_roll{
    display: table;
    margin-bottom: 30px;
    padding: 8px 30px;
    box-sizing: border-box;
    background-color: #F4F4F4;
    box-shadow: 0 0 2px #dddddd;
    border: 1px solid #E2E2E2;
}
/*--------custom select--------*/
.custom_select{
    width: 100%;
    height: 100%;
    border: 1px solid #D3D3D3;
    overflow: hidden;
    vertical-align: top;
    box-sizing: border-box;
}
.select{
    height: 100%;
    width: 100%;
    background-color: #FFF;
    display: inline-block;
    position: relative;
}
.select_text{
    height: 100%;
    padding: 0 5px;
    position: relative;
    z-index: 1;
}
.select_text p{
    font-family: "Roboto Condensed", sans-serif;
    color: #716c6c;
    font-size: 12px;
    line-height: 3;
    margin: 0;
}
.select select{
    height: 100%;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    overflow: hidden;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
/*--------end select---------*/
.disabled_select .select{
    background-color: #F4F4F4;
    cursor: no-drop;
}
.disabled_select .select_text p{
    color: #AAAAAA;
}
.disabled_select select{
    display: none;
}
.restricted_product, .choose_color{
    display: table-cell;
}
.sort{
    display: inline-block;
    width: 45%;
    position: relative;
}
.sort h2{
    font-weight: normal;
    font-size: 14px;
    line-height: 35px;
    margin-right: 10px;
    display: inline-block;
}
.sort_left{
    width: 50%;
}
.sort_left .custom_select {
    width: 69%;
    display: inline-block;
}
.sort_right {
    width: 50%;
    float: right;
}
.sort_right h2{
    position: absolute;
    right: 40%;
}
.sort_right .custom_select {
    width: 40%;
    display: inline-block;
    float: right;
}
.sort_down {
    width: 35%;
    float: right;
}
.sort_down h2{
    position: absolute;
    right: 55%;
}
.sort_down .custom_select{
    width: 55%;
    float: right;
}
/*pagination*/
.pagination{
    display: inline-block;
    width: 65%;
}
.pagination ul{
    width: 100%;
    background-color: #F4F4F4;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #dddddd;
    border-radius: 2px;
    position: relative;
}
.pagination li{
    display: inline-block;
    padding: 0 5px;
}
.prev a, .next a{
    display: block;
    width: 20%;
    position: absolute;
    bottom: 0;
    top: 0;
    line-height: 2.5;
    border-radius: 2px;
    color: #ffffff;
    text-transform: uppercase;    padding: 3px 0;
    font-size: 13px;
}
.next a{
    background-color: #0099D6;
    right: 0;
}
.prev a{
    background-color: #D2D2D2;
    left: 0;
}
.active{
    background: #0099D6;
    padding: 5px;
    border: 1px solid #008BC7;
    border-radius: 3px;
}
.active a{
    color: #ffffff;
}

/*--------@media--------*/

@media screen and (max-width:980px) {

    .pagination{
        width: 60%;
    }
    .equal{
        padding-top: 13px;
    }
}
@media screen and (max-width: 767px){

    .sort h2, .sort_down h2{
        font-size: 12px;
    }
}
@media screen and (max-width: 640px){

    .breadcrumbs {
        margin: 15px 0;
    }
    .sort_down{
        display: none;
    }
    .pagination{
        width: 100%;
    }

}
@media screen and (max-width:480px) {

    .listing li {
        margin: 20px 15px;
    }
    .sort_left{
        width: 100%;
        margin-bottom: 10px;
    }
    .sort_left .custom_select{
        float: right;
    }
    .sort_right{
        width: 100%;
        float: none;
    }
    .sort_right h2{
        position: initial;
        margin: 0;
    }
    .sort_right .custom_select{
        width: 69%;
    }
    .sort_down{
        display: none;
    }
    .select_roll{
        padding: 10px 15px;
    }
    .next, .prev{
        width: 30%;
    }

}
@media screen and (max-width:450px) {

    .listing li{
        margin: 10px 0;
    }
    .panel .column_container, .column_container.related_products{
        text-align: justify;
    }


}
@media screen and (max-width:400px) {

    .listing, .listing .column_container{
        text-align: center;
    }
    .panel .column_container, .column_container.related_products{
        text-align: center;
    }


}
@media screen and (max-width:350px) {

    .column_container[data-columns="4"] li {
        width: 62%;
    }

}
/*--------End all products listing--------*/

/*--------Basket--------*/

.cart_title{
    display: inline-block;
    text-transform: uppercase;
    color: #0099D6;
    margin-bottom: 15px;
}
.sc_table, .compare_table{
    width: 100%;
    margin-bottom: 25px;
    border-collapse: collapse;
    background-color: #ffffff;
}
.sc_table .qty_field{
    width: 70%;
    margin: 0 auto;
    height: auto;
    overflow: auto;
}
.sc_table .qty_add, .sc_table .qty_remove{
    padding: 1px 0;
}
.sc_table input{
    height: 98%;
}
.sc_table thead{
    border: 1px solid #E2E2E2;
}
.sc_table th{
    padding: 11px 0;
    background-color: rgba(244, 244, 244, 0.51);
}
.sc_table tr{
    border: 1px solid #E2E2E2;
    width: 8%
}
.sc_table tr:first-of-type{
    border: 1px solid #E2E2E2 !important;
}
.sc_table tr:last-of-type{
    border: 1px solid #F4F4F4;
}
.sc_table td{
    width: 8%;
}
.sc_table img{
    max-width: 130px;
    width: 95%;
    display: table-cell;
    margin: 5px auto;
}
.sc_table tbody{
    text-align: center;
}
.sc_product{
    width: 18%;
}
.cart_price{
    display: block;
}
.colspan_text{
    font-size: 21px;
    font-weight: bold;
    text-align: right;
    padding: 15px 0;
    background-color: #F4F4F4;
    text-transform: uppercase;
}
.shop_button, .checkout_button{
    padding: 15px 5px;
    width: 18%;
    font-size: 14px;
    background-color: #D2D2D2;
    color: #ffffff;
    text-transform: none;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
}
.checkout_button{
    background-color: #0099D6;
    float: right;
    border: 0;
    cursor: pointer;
}
.paypal_buy{
    width: 20%;
    float: right;
}
.paypal_buy .checkout_button{
    width: 100%;
}
td.empty_basket {
    padding: 40px 0;
}

/*--------@media--------*/

@media screen and (max-width:980px) {

    .shop_button, .checkout_button {
        width: 22%;
    }
}
@media screen and (max-width:767px) {

    .sc_table td {
        width: 13%;
    }
    .shop_button, .checkout_button {
        width: 32%;
    }
}
/*--------End basket--------*/

/*-------Checkout--------*/

.summary{
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
}
.sum{
    font-weight: bold;
}
.checkout_card.user_cards_content{
    box-shadow: 0 0 0;
    border: 1px solid #eeeeee;
    position: relative;
}
.checkout_card.user_cards_content .change_current{
    position: absolute;
    right: 25px;
    top: 30px;
}
.checkout_card.user_cards_content .change_current span:hover{
    color: #F85400;
}
.checkout_tittle{
    border-bottom: 1px solid #eeeeee;
    padding: 0 0 15px;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
}
.shopping_cart{
    margin-bottom: 20px;
}
.shipping_form{
    width: 100%;
}
.radio{
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    width: 25%;
    cursor: pointer;
}
.shipping_price{
    float: right;
    font-weight: bold;
    font-size: 14px;
}
input[type=radio]{
    margin-right: 8px;
}
.checkout_table{
    width: 50%;
    margin-bottom: 20px;
    float: right;
}
.checkout_table td{
    text-align: right;
}
.table_total{
    font-size: 21px;
    font-weight: bold;
}
.terms_of_use{
    float: right;
    margin-bottom: 20px;
}
.terms_checkbox{
    margin-bottom: 5px;
}
.terms_link{
    font-weight: bold;
    text-decoration: underline;
}
span#total {
    font-size: 20px;
}

/*--------@media--------*/

@media screen and (max-width:767px) {

    .checkout_tittle{
        font-size: 15px;
    }
    .radio{
        width: 33%;
    }
}
@media screen and (max-width:480px) {

    .delivery_address{
        display: block;
        width: 100%;
        margin-bottom: 25px;
    }
    .billing_address{
        position: relative;
        float: none;
        display: block;
        width: 100%;
    }
    .radio{
        display: block;
        width: 92%;
    }
    .checkout_table{
        float: none;
        width: 100%;
    }
    .terms_of_use {
        text-align: right;
        float: none;
    }

}
/*-------End checkout--------*/

/*--------Profile page--------*/

.profile_page.form{
    margin-bottom: 20px;
    padding: 20px 30px 20px;
}
/*reworked*/
/* profile top 2 cards*/
.id_title{
    display: inline-block;
    width: 46%;
}
.current_delivery{
    display: inline-block;
    float: right;
    width: 46%;
}
.card_header {
    /*display: table;*/
    /*width: 100%;*/
    /*margin-bottom: 15px;*/
    /*position: relative;*/

    width: 100%;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
}
.card_header h2{
    /*display: table-cell;*/
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    width: 75%;
    text-align: center;
    line-height: 4;
    float: right;
}
.card_header .edit_pencil{
    position: absolute;
    right: 0;
}
span.icon-location, span.icon-user, span.icon-user2, span.icon-billing{
    /*display: table-cell;*/
    float: left;
}
/*imakr id*/
.user_card{
    width: 46%;
    background-color: white;
    box-shadow: 0 0 3px;
    padding: 15px;
    box-sizing: border-box;
    display: inline-block;
}
.user_details {
    float: right;
    width: 68%;
}
.user_details li{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.user_details li:last-child{
    margin-bottom: 0;
}
.user_info {
    padding: 7px;
    background-color: #F4F4F4;
    border-radius: 3px;
    width: 80%;
    float: right;
}
.user_details .icon-home3, .user_details .icon-phone, .user_details .icon-envelope{
    float: left;
    font-size: 19px;
    line-height: 29px;
}
/*current address top card*/
.current_delivery_address{
    width: 46%;
    padding: 15px;
    box-sizing: border-box;
    float: right;
    box-shadow: 0 0 3px;
    border: none;
    background: #FFF url('../images/contact-form.png') repeat-x scroll 0 0;
    background-position-x: 16px;
}
.current_address_details{
    float: right;
    width: 48%;
    font-size: 11px;
    background-color: #F4F4F4;
    border-radius: 3px;
    padding: 10px;
}
.current_address_details li{
    padding: 8px 0;
}
.current_address_details li a{
    color: #716C6C;
}
/*content container for sub cards*/
.user_cards_content{
    width: 100%;
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 3px;
    border: 0;
    padding:25px;
    box-sizing: border-box;
    font-size: 12px;
}
/*make current edit remove for sub cards*/
.panel .user_cards_content .remove_address{
    position: absolute;
    right: 5%;
}
.user_cards_content .edit_pencil{
    position: absolute;
    right: 10%;
}
.panel .user_cards_content .make_current{
    position: absolute;
    right: 16%;
    top: 12%;
}
.panel .user_cards_content .make_current span:hover{
    color: #F85400;
}
/*profile details  card*/
.profile_info{
    padding: 13px 0;
}
.profile_info li.user_data{
    width: 100%;
    display: block;
    font-weight: lighter;
    padding: 5px 0;
    font-size: 15px;
    color: #716C6C;
    margin-bottom: 10px;
}
.profile_info li.user_data:last-child{
    margin-bottom: 0;
}
.profile_info li.user_data span{
    float: left;
    margin-right: 10px;
    font-size: 18px;
}
/*linked accounts card*/
.linked_accounts{
    width: 100%;
    display: table;
}
.linked_accounts li.social_account{
    width: 100%;
    margin-bottom: 0;
    display: table-row;
}
.linked_accounts li.social_account span{
    font-size: 13px;
    font-weight: normal;
    display: table-cell;
    vertical-align: middle;
}
.linked_accounts li.social_account a{
    font-size: 13px;
    color: #0099D6;
    font-weight: bolder;
    display: table-cell;
    vertical-align: middle;
}
/*address card*/
.location{
    display: inline-block;
    width: 100%;
    padding: 15px 0;
}
.address_card{
    width: 68%;
    display: inline-block;
    float: right;
}
.address_card li.address_info{
    width: 100%;
    padding: 5px 0;
    margin-bottom: 0;
}
/*empty address cars*/
.panel .empty_delivery_address{
    width: 100%;
    box-shadow: 0 0 0;
    border: 1px dashed #B8B8B8;
    padding: 0;
}
.panel .empty_delivery_address .fill a{
    color: #716C6C;
    font-size: 13px;
    display: block;
    padding: 24% 0;
    text-align: center;
}
/*orders*/
.order_list{
    width: 49%;
    display: inline-block;
}
.order_table{
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border: 1px solid #E2E2E2;
}
.order_table thead {
    border: 1px solid #E2E2E2;
}
.order_table th{
    padding:  11px;
    background-color: rgba(244, 244, 244, 0.51);
}
.order_table td{
    text-align: center;
    padding: 15px 0;
}
.order_total{
    font-size: 18px;
    font-weight: bolder;
}
.order_address{
    display: inline-block;
    width: 49%;
    float: right;
}
.panel .pagination{
    display: block;
    width: 100%;
}
.panel .pagination ul{
    display: block;
    width: 100%;
    background-color: #FAFAFA;
    margin: 0;
}
.panel .pagination ul li a.prev,
.panel .pagination ul li a.next{
    width: 15%;
}
/*profile add/edit details forms*/
.profile_form{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #FAFAFA;
    box-shadow: 0 0 3px;
}
.profile_form h2{
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
}
.profile_form form{
    width: 80%;
    text-align: left;
}
.profile_form_breadcrumb{
    width: 54%;
    margin: 0 auto 20px;
}
.profile_form span.icon-location, .profile_form span.icon-user, .profile_form span.icon-user2{
    float: none;
}
.required{
    vertical-align: super;
    font-size: 14px;
}
p.compulsory {
    margin: 20px 0;
}
label {
    margin-bottom: 5px;
}
#code{
    position: absolute;
    z-index: 2;
    line-height: 3.3;
    padding: 0 8px;
    font-size: 11px;
}
input#phone{
    position: relative;
    padding-left: 40px;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.profile_button{
    width: 20%;
    margin-bottom: 30px;
}
.profile_tabs li.tab {
    width: 15%;
}
.profile_tabs li.tab a{
    font-size: 13px;
    text-align: center;
}
form#editUserForm .custom_select{
    width: 35%;
}
/*end reworked*/


/*bnnbn*/

.show{
    display: block;
}
.hide{
    display: none;
}




/*--------@media--------*/

@media screen and (max-width:980px) {

    .tabs li.tab {
        width: 18%;
    }
}
@media screen and (max-width:767px) {

    .profile_tabs li.tab {
        width: 21%;
    }
    .tabs li a{
        font-size: 12px;
    }
}
@media screen and (max-width:480px) {

    .content_wrap{
        width: 95%;
        margin: 25px auto 35px;
    }
    .panel{
        width: 95%;
        margin: 0 auto;
    }
    ul.tabs{
        width: 95%;
        margin: 0 auto;
        display: block;
    }
    ul.tabs li{
        width: 39%;
    }
    .column_container[data-columns="3"] li {
        width: 100%;
    }
    .details_form {
        width: 100%;
    }
    .profile_button {
        width: 35%;
    }
    .address_form {
        width: 100%;
    }
    .address_form .custom_select {
        width: 55%;
    }
    .profile_page.form {
        padding: 20px 20px 0;
    }
    .user_card {
        width: 100%;
        margin-bottom: 60px;
    }
    .profile_page .delivery_address {
        width: 100%;
    }
    .card_header {
        margin-bottom: 30px;
    }
    .profile_page .delivery_address .address_details{
        width: 63%;
    }
    .profile_page .delivery_address .address_details li{
        font-size: 12px;
    }
    h2.current_delivery.cart_title{
        position: absolute;
        bottom: 41%;
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
    }
    .user_info {
        width: 100%;
    }
    .user_address_details span, .user_phone_details span, .user_email_details span{
        font-size: 12px;
    }
    .panel{
        padding: 20px;
    }
    .panel .delivery_address{
        width: 100%;
    }
    .panel .empty_delivery_address {
        width: 100%;
    }
    .panel .delivery_address li {
        font-size: 13px;
    }
    .panel .address_details {
        padding: 15px 0;
    }
    .panel .address_details.profile_info{
        width: 100%;
    }
    .panel .column_container[data-columns="2"] li, .column_container.related_products[data-columns="2"] li{
        margin: 0;
        width: 100%;
    }
    .delivery_address.linked{
        margin-bottom: 0;
    }
    .column_container li .delivery_address.linked .address_details li span{
        font-size: 11px;
    }
    .profile_tabs li.tab a {
        font-size: 11px;
    }
    .tabs li a{
        padding: 8px;
    }
}
/*--------End profile page--------*/

/*--------Detailed product page--------*/

.product_details2 {
    width: 60%;
    float: right;
}
.title_wrap{
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 20px;
    padding: 0 0 5px;
    display: table;
    width: 100%;
}
.availability_info{
    float: right;
    text-align: right;
    width: 22%;
}
.availability{
    display: block;
    color: #F85400;
    font-size: 16px;
    font-weight: bold;
}
.product_title{
    color: #0099D6;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: normal;
    width: 50%;
    display: inline-block;
}
.productAdd_title{
    color: #0099D6;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.product_description{
    font-size: 14px;
    margin-bottom: 20px;
}
.product_description p{
    text-align: justify;
}
.product_price{
    display: inline-block;
    background-color: #ffffff;
    padding: 8px;
    margin-bottom: 50px;
    width: 100%;
    box-sizing: border-box;
}
.price{
    width: 40%;
    display: inline-block;
}
.add_to_basket{
    float: right;
    width: 60%;
}
.price_small{
    width: 25%;
    display: inline-block;
    line-height: 2;
}
.qty_field.small_field {
    width: 35%;
}
.buy_filament{
    width: 75%;
}
.buy_filament .qty_field.small_field{
    width: 25%;
}
.filament_select{
    width: 25%;
    display: inline-block;
    margin: 0 5px;
}
.buy_filament .add_basket{
    width: 45%;
}
.product_qty{
    width: 50%;
    display: table-cell;
}
.add_basket{
    width: 55%;
    display: inline-block;
}
/*color picker*/
.buy_product{
    background-color: #F4F4F4;
    box-shadow: 0 0 2px #dddddd;
    border: 1px solid #E2E2E2;
    margin-bottom: 25px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}
.choose_product{
    width: 70%;
    height: 97%;
    display: inline-table;
    position: relative;
}
.choose_product .custom_select{
    width: 40%;
}
.choose_product .qty_field{
    width: 43%;
    border-spacing: 0;
}
.product_added, .chosen_product{
    display: none;
}
.product_added h3{
    vertical-align: middle;
    padding: 5px 0;
}
.color_added{
    display: block;
    padding: 5px;
}
.chosen_product{
    margin-right: 8px;
    font-size: 13px;
}
.custom_select.choose_color{
    width: 20%;
}
.color_form{
    border-collapse: separate;
    border-spacing: 10px 0;
    display: table;
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
}
.select_color{
    display: table;
    width: 45%;
}
.add_color {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    width: 10%;
    color: #8c8c8c;
}
.plus_color{
    font-size: 16px;
    color: #918D8D;
}
.minus_color{
    font-size: 13px;
    color: #918D8D;
    text-transform: uppercase;
    font-weight: bolder;
}
.add_basket2{
    display: inline-table;
    width: 19%;
    padding: 10px;
}
.listing2{
    padding: 0 25px;
}
.hidden{
    display: none;
}
.inline_block{
    display: inline-block;
}
span.icon-cancel-circle {
    color: #8C8C8C;
    vertical-align: top;
}
.color{
    margin: 0 5px;
}
/*--------custom numeric input--------*/
.qty_field{
    border: 1px solid #d3d3d3;
    width: 85%;
    height: 100%;
    background-color: #ffffff;
    display: inline-table;
    overflow: hidden;
    box-sizing: border-box;
}
.qty_num{
    line-height: 3;
    display: table-cell;
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
    background-color: #ffffff;
}
.controls{
    display: table-cell;
    vertical-align: middle;
    width: 38%;
    height: 100%;
}
.qty_add, .qty_remove{
    display: block;
    cursor: pointer;
    background-color: #E9E9E9;
    border-left: 1px solid #d3d3d3;
    height: 50%;
    text-align: center;
    line-height: 1.5;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
/*end custom numeric input*/
.qty_add{
    border-bottom: 1px solid #d3d3d3;
}



/*--------@media--------*/

@media screen and (max-width:980px) {

    .availability_info{
        width: 26%;
    }
    .product_price{
        padding: 0 10px;
    }
    .price, .price_small{
        width: 100%;
        text-align: center;
        padding-left: 0;
        line-height: 1.2;
    }
    .price .new_price, .price_small .new_price{
        font-size: 26px;
    }
    .add_to_basket {
        width: 96%;
        padding: 8px 0;
    }
    .buy_filament .add_basket{
        width: 43%;
    }
    .add_basket{
        width: 62%;
        padding: 11px 0;
        font-size: 14px;
    }
    .choose_product {
        width: 75%;
    }
    .add_basket2{
        width: 25%;
    }
    .vat{
        display: block;
    }
}
@media screen and (max-width:767px) {

    .add_to_basket {
        width: 100%;
    }
    .add_basket{
        width: 62%;
        font-size: 13px;
    }
    .add_basket2 {
        width: 25%;
        font-size: 13px;
    }
    .buy_product{
        padding: 15px;
    }
    .color_form {
        border-spacing: 5px 0;
    }
    .buy_filament .add_basket{
        width: 44%;
        font-size: 12px;
        padding: 12px 0;
    }
}
@media screen and (max-width:640px) {

    .availability_info {
        width: 35%;
    }
    .add_basket{
        padding: 11px 0;
    }
    .add_to_basket {
        width: 96%;
        padding: 10px 0;
        display: inline-table;
    }
    .buy_filament .add_basket {
        width: 43%;
        font-size: 12px;
    }
    .choose_product {
        width: 72%;
    }
    .choose_product .custom_select {
        width: 42%;
    }
    .custom_select.choose_color {
        width: 25%;
    }
    .choose_product .qty_field {
        width: 100%;
    }
    .add_color{
        width: 0;
        display: table-cell;
    }
    .plus_color{
        display: none;
    }
    .product_added h3{
        display: block;
    }
    .add_to_basket {
        width: 100%;
    }
    .filament_select {
        width: 28%;
    }

}
@media screen and (max-width:480px) {


    .product_details2 {
        width: 100%;
        float: none;
    }
    .product_title {
        width: 65%
    }
    .availability_info {
        width: 31%;
    }
    .choose_product{
        width: 100%;
    }


}
/*--------End detailed product page--------*/

/*--------Static page---------*/
.static_sidebar_container{
    width: 27%;
}
.static_sidebar{
    width: 100%;
    float: left;
    background-color: #F4F4F4;
    box-shadow: 0 0 2px #dddddd;
    border: 1px solid #E2E2E2;
    padding: 10px 15px;
    box-sizing: border-box;
}
.static_sidebar li{
    padding: 10px 0;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
    text-shadow: none;
}
.static_sidebar li span{
    font-size: 16px;
}
.static_container{
    width: 70%;
    float: right;
}
.static_content{
    width: 70%;
    float: right;
}
.static_content p{
    text-align: justify;
}
.static_content p a{
    color: #F85400;
}
.static_content h2{
    margin-bottom: 20px;
    text-transform: uppercase;
}

/*--------@media--------*/

@media screen and (max-width:980px) {

    .static_content{
        width: 66%;
    }
    .static_sidebar_container {
        width: 31%;
    }
}
/*--------End static page---------*/

/*--------Contact us--------*/

.map{
    margin-bottom: 25px;
}
.contact_title{
    margin-bottom: 25px;
}
.imakr_address{
    position: absolute;
    top: 7%;
    right: 7%;
}
.imakr_address li{
    margin: 8px;
    font-size: 16px;
    font-weight: lighter;
}
.contact_form{
    width: 87%;
    margin: 0 auto;
}
.contact_us{
    display: block;
    width: 35%;
    margin-bottom: 5px;
}
.contact_us input {
    margin: 5px 0;
    padding: 8px;
    width: 95%;
    border: 1px solid #E2E2E2;
    background-color: #ffffff;
}
textarea#message{
    max-width: 715px;
    width: 97%;
    border: 1px solid #E2E2E2;
    padding: 5px;
}
.envelope{
    background: #FFF url('../images/contact-form.png') repeat-x scroll 0 0;
    border: 1px solid #E2E2E2;
    width: 85%;
    margin: 0 auto;
    padding: 25px 10px;
    position: relative;
}
.contact_button{
    width: 17%;
    margin: 10px;
}
/*--------End contact us--------*/

/*--------Page not found--------*/

.page_not_found, .page_not_found p{
    text-align: center;
}
.error404{
    font-size: 200px;
    color: #F85400;
}

/*--------@media--------*/

@media screen and (max-width:480px) {

    .static_sidebar_container{
        width: 95%;
        margin: 0 auto;
    }
    .static_sidebar{
        float: none;
    }
    .static_content{
        float: none;
        width: 95%;
        margin: 0 auto 25px;
    }
}

/*--------Notifications----------*/

.notification{
    width: 80%;
    text-align: center;
    display: block;
    margin: 10px auto;
    padding: 15px 0;
}
.home .notification{
    margin: 0 auto 15px;
}
.success{
    background-color: rgba(186, 224, 243, 0.4);
    border: 1px solid #0099D6;
    text-shadow: 0 0 1px #ffffff;
}
.success p {
    color: #008BC7;
}
.warning{
    background-color: rgba(234, 131, 148, 0.4);
    border: 1px solid #d6411e;
    text-shadow: 0 0 1px #D4B8B8;;
}
.warning p {
    color: #D6411E;
}
.notice{
    background-color: rgba(246, 232, 86, 0.14);
    border: 1px solid #FCCD3C;
    text-shadow: 0 0 1px #ffffff;
    padding: 15px;
    text-align: center;
}
.panel .notice{
    margin-bottom: 20px;
}
.message {
    display: inline-block;
    line-height: 2;
    margin: 0 5px;
}

.no_data{
    padding: 30px !important;
}

/*--------Search results--------*/

.search_results{
    font-weight: lighter;
    color: #F85400;
}
.search_results span{
    color: #565656;
    font-size: 14px;
}
h2.error{
    color: #F85400;
    font-weight: lighter;
    margin-bottom: 25px;
    text-align: center;
}
.search_tips{
    margin: 0 auto;
    padding: 20px;
    width: 35%;
    background-color: #F4F4F4;
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 2px #dddddd;
}
.search_tips h3{
    margin-bottom: 15px;
}

/*--------@media--------*/

@media screen and (max-width:480px) {

    .search_tips{
        width: 70%;
    }

}
/*--------End search--------*/

/*--------Compare--------*/

.compare_error{
    display: none;
    margin-bottom: 0;
}
.compare_table td{
    position: relative;
    border: 1px solid #E2E2E2;
    padding: 10px;
    text-align: center;
    width: 28%;
    box-sizing: border-box;
}
.compare_table td p{
    font-size: 12px;;
}
.ct_default {
    background-color: rgba(244, 244, 244, 0.51);
    font-weight: bolder;
    text-align: left !important;
    width: 15% !important;
}
.ct_features{
    position: absolute;
    bottom: 10px;
}
.ct_image img{
    margin-bottom: 10px;
    max-width: 160px;
    width: 100%;
}
.ct_title{
    display: block;
    width: 90%;
    min-height: 50px;
    margin: 0 auto 10px;
    font-size: 18px;
}
.compare_link_remove{
    position: absolute;
    top: 2%;
    right: 1%;
}
.ct_basket{
    float: none;
}
#compare_error{
    display: none;
}
td.ct_empty{
    width: 8%;
    text-align: left;
    font-weight: bolder;
    font-size: 14px;
}

/*--------@media--------*/

@media screen and (max-width:480px) {

    .compare_table td, .compare_table td.ct_default{
        display: block;
        width: 100% !important;
    }
    .compare_table td.features{
        display: none;
    }
}

/*--------End compare--------*/


.static_content .breadcrumbs{
    margin-bottom: 20px;
}
.selected_li{
    background: #F0F0F0 !important;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.related_products{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

/*SHARE BUTTON*/


ul.dropdown-share {
    display: none;
    position: absolute;
    top: -271%;
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: #F4F4F4;
    z-index: 6;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}
ul.dropdown-share:hover{
    border-top: 1px solid #F85400;
    border-bottom: 1px solid #F85400;
}
ul.dropdown-share li.social_share{
    display: block;
    width: 100%;
    height: 30%;
    padding: 2px;
    margin:0;
}
ul.dropdown-share li.social_share a{
    display: block;
    width: 25%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
ul.dropdown-share li.social_share span.icon-cancel-circle{
    position: absolute;
    top: 5px;
    right: 9px;
    cursor: pointer;
}

.listing .notice{
    margin-bottom: 20px;
}
/*--------cookie notice--------*/

.ui-widget{
    /*margin-bottom: 30px;*/
    /*display: none;*/
}
.cookie-message {
    position:fixed;
    bottom:0;left:0;right:0;
    padding:0 85px 0 20px;
    box-shadow:0 0 3px #ccc;
    z-index: 99;
}
.cookie-message a {
    position:absolute;
    top:0; *top:-2px; right:20px;
    cursor:pointer;
}
.cookie-message p, .cookie-message a {
    margin: 10px 0;
    font-weight: normal;
    text-shadow: 0 0 1px #4C4C4C;
    font-size: 13px;
}
.blue {
    border-bottom:1px solid #0E83AE;
    background-color:#0990c3;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099D6), color-stop(50%, #008AC1), color-stop(100%, #016790));
    background: -webkit-linear-gradient(#0099D6, #008AC1, #016790);
    background: -moz-linear-gradient(#0099D6, #008AC1, #016790);
    background: -o-linear-gradient(#0099D6, #008AC1, #016790);
    background: -ms-linear-gradient(#0099D6, #008AC1, #016790);
    background: linear-gradient(#0099D6, #008AC1, #016790);
}
.blue p, .blue a { color:#fff; }
